{% extends 'master.html' %}
{% load bootstrap %}

{% block content %}
    <div class="container">
        <h2>Device: {{ device.name }}</h2>
        <form method="post" action="/rancid/delete/device/{{ device.name }}">
            <button type="submit">Delete Device</button>
        </form>
        <h4><a href="/rancid/config/{{ device.b64code }}">View Config</a></h4>
        <h4><a href="/rancid/changes/{{ device.b64code }}">View Change History</a></h4>
        <h3>Device Settings</h3>
        <form action="/rancid/devicedetails/{{ device.b64code }}" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <input type="submit" value="Submit" />
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}
