{% extends 'master.html' %}
{% load bootstrap %}

{% block content %}
    <h2>Group: {{ group.name }} <a href="#" style="color: red; font-size: 20px; float: right;"><span class="glyphicon glyphicon-trash"></span></a></h2>
    <h3>Devices:</h3>
    <div class="list-group">
        {% if not group.djDevices %}
        <a href="#" class="list-group-item">No devices in this group</a>
        {% else %}
        {% for device in group.djDevices %}
        <a href="/rancid/devicedetails/{{ group.name }}/{{ device.b64code }}" class="list-group-item">{{ device.name }}</a>
        {% endfor %}
        <a href="/rancid/adddevice/{{ group.name }}" class="list-group-item"><span class="glyphicon glyphicon-plus-sign"></span> Add a new device</a>
        {% endif %}
    </div>
    <h3>Group Settings</h3>
    <form action="/rancid/groupdetails/{{ group.name }}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="Submit" />
    </form>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}
