{% extends 'master.html' %}
{% load bootstrap %}

{% block content %}
    <div class="container">
        <h2>Group: {{ group.name }}</h2>
        <form method="post" action="/rancid/delete/group/{{ group.name }}">
            <button type="submit">Delete Group</button>
        </form>
        <h3>Devices:</h3>
        {% if group.djDevices %}
        <ul>
            {% for device in group.djDevices %}
            <li><a href="/rancid/devicedetails/{{ device.b64code }}">{{ device.ip }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <p>No devices in this group</p>
        {% endif %}
        <a href="/rancid/adddevice/{{ group.name }}">Add a new device</a>
        <h3>Group Settings</h3>
        <form action="/rancid/groupdetails/{{ group.name }}" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <input type="submit" value="Submit" />
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}
