<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-                                                                                               fit=no">
  <title>
    {% block title %}
        RANCID
    {% endblock %}
  </title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/rancid/devices/">Devices</a></li>
          {% if user.is_staff %}
          <li><a href="/rancid/addgroup/">Add Group</a></li>
          {% endif %}
          <li><a href="/rancid/adddevice/">Add Device</a></li>
          <li><a href="/logout/">Logout</a></li>
      </ul>
    </div>
</nav>

<div id="content" class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
</div>
</body>
</html>

